

body {
    background-color: #d3dee7;
    overflow-x: hidden;
}
.flex-grid {
    display: flex;
}

.col {
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;  
    margin: 5px;
    padding-bottom: 15px;
    border: solid #a3b8c8;;  
    background-color: white;
}
.title {
    display: flex;
    justify-content: center;
    color: #294F6D;
}

.wide p{
  text-align: center;
}

.col a {
  color: #294f6d;
  text-decoration: underline;
}
/* .col p {
    
} */
.main {
    padding: 20px;
}
@media screen and (max-width: 500px) {
    .flex-grid {
      flex-direction: column;
      max-width: 480px;
    }
  }
/* bootstrap stuff */
.navbar {
  background-color: #718ea4;
}
.navbar .navbar-brand {
  color: #294f6d;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color:#d3dee7;
}
.navbar .navbar-text {
  color: #d3dee7;
}
.navbar .navbar-text a {
  color:#d3dee7;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color:#d3dee7; 
}
.navbar .navbar-nav .nav-link {
  color:#d3dee7;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #294f6d;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #294f6d;
  background-color: #d3dee7;
}
.navbar .navbar-toggle {
  border-color: #d3dee7;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #d3dee7;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #a3b8c8;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #a3b8c8;
}
.navbar .navbar-link {
  color: #a3b8c8;
}
.navbar .navbar-link:hover {
  color: #294f6d;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #a3b8c8;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #294f6d;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #294f6d;
    background-color: #d3dee7;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #a3b8c8;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #294f6d;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #294f6d;
    background-color: #d3dee7;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #a3b8c8;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #294f6d;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #294f6d;
    background-color: #d3dee7;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #a3b8c8;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #294f6d;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #294f6d;
    background-color: #d3dee7;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #a3b8c8;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #294f6d;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #294f6d;
  background-color: #d3dee7;
}