<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand  " href="/index">FNFigueroa</a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav nav-fill">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/games/color_guesser">Color guesser</a>
          <a class="dropdown-item" href="/games/connectfour">Connect four</a>
          <a class="dropdown-item" href="/games/tic-tac-toe">Tic tac toe</a>
          <a class="dropdown-item" href="/games/dodger">Dodger</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tools/foodlocator">Food locator</a>
          <a class="dropdown-item" href="/tools/scrabblecounter.html">Scrabble word value</a>
        </div>
      </li>
    </ul>
  </div>
</nav>